
    <div class="w-full py-4 px-36 flex-col justify-center items-center ">
        <div class="w-full p-4 flex-col justify-center items-center shadow rounded-lg 
        shadow-blue-950">

            <div class="py-2 px-4 flex justify-between">
                <div>
                    <h2 class="text-3xl text-blue-800 font-bold leading-tight">Categories</h2>
                </div>
                <div class="flex justify-between">
                    <div class="px-2 text-lg font-semibold text-blue-800">
                        <h3>Ajouter</h3>
                    </div>
                    <div class=" relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                        <input type="checkbox" name="toggle" id="toggle" class="m-0.5 ring-1 ring-white toggle-checkbox absolute block w-2/4 h-5 rounded-full
                         bg-blue-800 appearance-none cursor-pointer" (change)="toggle()"/>
                        <label for="toggle" class=" border-2 toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                    </div>
                    <div class="text-lg font-semibold text-blue-800">
                        <h3>Editer</h3>
                    </div>
                    
                </div>
            </div>


            <!-------- Forme ajout categorie ------->
            <div class=" w-[100%] flex justify-center items-center px-[25%]">

                
                <form class="min-w-min shadow-sm shadow-blue-950 rounded-md min-w-auto p-10 w-full flex-1 flex justify-between items-center" [formGroup]="formCat">
                    <div>
                        <label class="block font-semibold text-xl text-blue-800 " for="email">Libelle</label>
                    </div>
                        <div class="w-[50%] min-w-max">
                            <input formControlName="categorie" class="  bg-blue-100 rounded-lg shadow shadow-blue-950
                            placeholder-black text-lg p-2
                            border-none block mt-1 w-full" 
                        id="cat" type="text" name="categorie" required="required" > 
                        </div>
                        
                        <div class="min-w-min">
                            <button [disabled]="disableAddOrEditbutton" (click)="ok()" [class]="bgButton" class="w-32  min p-2 h-10 text-xl rounded-md
                            text-white shadow-md  shadow-blue-950" >
                            {{buttonAddOrEdit}}</button>
                        </div>
                    </form>
            </div>


            <!------- List Categorie -->
            <div>
   
    
                <!-- component -->
                <div class="antialiased font-sans rounded-lg mt-2">
                    <div class=" w-[100%]">
                        <div class="w-full pt-5">
                            <div class="p-2">
                                <h2 class="text-2xl font-bold leading-tight text-blue-800">Liste categories</h2>
                            </div>
                            <div class="mt-4 shadow-sm shadow-blue-950 w-[24%] rounded-lg bg-slate-100 flex justify-between">
                                
                                    <div class="pl-2 rounded-l-lg flex justify-center items-center">
                                        <svg class="w-4 h-4 text-blue-950 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                        </svg>
                                    </div>
                                    <div>
                                        <input class="rounded-r-lg text-blue-800" type="text" placeholder="Search" [(ngModel)]="typedValue" (ngModelChange)="search()">
                                    </div>

                                    <div class="min-w-min">
                                        <button  [hidden]="hideElement"  class="w-auto p-1 mt-2 mr-2  h-auto text-xl  bg-red-600  rounded-md
                                            text-white shadow-md shadow-blue-950" >
                                            <svg class="w-5 h-5 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                                <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                
                            </div>
            

                        <!------------- table list of Categorie ------------->
                            <div class="w-[40%] -mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                                <div class="inline-block min-w-full shadow shadow-blue-950 rounded-lg overflow-hidden">
                                    <table class="w-full"> 
                                        
                                        <thead class="text-blue-800 shadow-sm shadow-blue-950 text-lg">
                                            <th class="w-20 flex justify-between items-center pl-2 border-r-2">
                                                <input type="checkbox" [disabled]="disableWhenAdd" [(ngModel)]="checkAll" (change)="checkAllCheckBoxes()">
                                                <span class="mr-5">All</span>
                                            </th>
                                            <th class=" bg   w-[60%] max-w-auto">
                                                <!-- <div class="flex justify-start pl-4"> -->
                                                    <span>Libelle</span>
                                                <!-- </div> -->
                                               </th>
                                            <!-- <th class="w-[38%]">Action</th> -->
                                        </thead>

                                       <tbody class=" pt-2" *ngFor="let item of listCat | paginate : {itemsPerPage:nbrPage,currentPage:numPage};" >
                                            <tr class="w-full"> 
                                                <td class="  w-20  flex justify-between items-center px-2 border-r-2">
                                                    <div class="h-full mt-2 px-4 py-3   w-full flex justify-center">
                                                        <div class="h-full">
                                                           <input type="checkbox"  [(ngModel)]="item.checked" (change)="checkSingleCheckBox()"  [disabled]="disableWhenAdd">
                                                        </div> 
                                                    </div>  
                                                </td>

                                                <td class="border-b-2 w-full max-w-auto text-blue-800">
                                                     <div class=" flex justify-center mt-2 px-4 py-2 text-lg"> 
                                                         <span  (click)="editCategorie(item?.id, item?.libelle)" class="bg-slate-100 text-start  w-full rounded-full pl-2">
                                                            {{item.libelle}}
                                                         </span> 
                                                     </div>  
                                                </td>

                                                <!-- <td class="border-b-2 w-[30%]">
                                                <div class="w-full flex justify-center">
                                                    <div class="flex justify-between  ">
                                                        <button class="m-2  w-6">
                                                            <svg class="w-6 h-6 text-yellow-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                                                <path d="M12.687 14.408a3.01 3.01 0 0 1-1.533.821l-3.566.713a3 3 0 0 1-3.53-3.53l.713-3.566a3.01 3.01 0 0 1 .821-1.533L10.905 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V11.1l-3.313 3.308Zm5.53-9.065.546-.546a2.518 2.518 0 0 0 0-3.56 2.576 2.576 0 0 0-3.559 0l-.547.547 3.56 3.56Z"/>
                                                                <path d="M13.243 3.2 7.359 9.081a.5.5 0 0 0-.136.256L6.51 12.9a.5.5 0 0 0 .59.59l3.566-.713a.5.5 0 0 0 .255-.136L16.8 6.757 13.243 3.2Z"/>
                                                            </svg>
                                                        </button>

                                                        <button class=" m-2   w-6">
                                                            <svg class="w-6 h-6 text-red-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
                                                            </svg>
                                                        </button>
                                                            
                                                        
                                                    </div>
                                                </div>
                                                </td> -->
                                            </tr>
                                       </tbody>

                                       
                                        <tfoot class="w-[100%]">
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>
                                                    <div class="pt-2 text-blue-800 w-full flex justify-center">
                                                        <pagination-controls (pageChange)="numPage = $event"></pagination-controls>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                       
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
</div>



